// Variables
$primary_color: #48F4C1;
$secondary_color: #8BC5FF;

$primary_font:     'Open Sans', sans-serif; // body font family
$secondary_font:   'Roboto', sans-serif; // heading font family

$font_sz:          18px; // body font size
$font_lh:          22px; // body line height
$font_ls:          0; // body letter spacing

$font_wt:          300, 400, 600; // body font weight


